/* width */
.dataTables_scrollBody::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .dataTables_scrollBody::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  .dataTables_scrollBody::-webkit-scrollbar-thumb {
    background: #182e65;
  }
  
  /* Handle on hover */
  .dataTables_scrollBody::-webkit-scrollbar-thumb:hover {
    background: #182e65;
  }
table.dataTable thead .sorting{
    padding: 10px;
}
.table td {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}
.common_card_body{
    padding: 15px 15px !important;
}
.table-responsive-common{
    overflow: hidden;
}
.table-responsive-common .card-header{
    padding: 0 !important;
    min-height: 60px !important;
}
.table-responsive-common div.dataTables_wrapper div.dataTables_paginate {
    padding: 0 !important;
    margin-left: 0.5rem;
}
.dataTables_length .form-select.form-select-solid{
    background-color: #182e65 !important;
    border-color: #182e65 !important;
    color: #fff !important;
    background-image: url('../images/down_arrow.svg') !important;
}
.common_btn_one{
  background: #182e65;
    color: #fff;
}
.common_btn_one:hover{
    background: #ffc001;
    color: #fff;
}
.common_btn_one_two{
    background: #ffc001;
    color: #fff;   
}
.common_btn_one_two:hover{
    background: #182e65;
    color: #fff;
    
}

.log_out_box{
	position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid #a995de;
    padding: 13px 10px;
    background: #fff;

}
.log_out_box .menu-item .menu-link{
justify-content: center;
color: #000;
}
.log_out_box .menu-item .menu-link .menu-icon{
	margin-left: 10px;
	color: #fff;
}

/*======================dashboard_container================*/
.dashboard_container{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}
.p_0_box_ .card-body{
/*padding: 0 !important;*/
background: #f1f1f1;
    border-radius: 10px;
}
.p_0_box_ .card-body .fs-7{
font-size: 20px !important;
    color: #000 !important;
    font-weight: 700 !important;
}
.flex-column-fluid{
	flex: auto;
}

.table th{
font-size: 13px;
padding-right: 0 !important;	
}
.table td{
    font-weight: 500;
    font-size: 12px;	
    padding-right: 0 !important;
}

.table_btn{
	padding: 5px 8px !important;
    margin: 0 !important;
    font-size: 12px;
    height: auto !important;
}
.modal-body-change .close_btn{
position: absolute;
    right: -15px;
    top: -15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.modal-body-change .close_btn span{

    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}
.modal-body-change form h1{
	text-align: center;
    font-size: 25px;
    text-transform: capitalize;
    padding: 15px 0 15px;
}

.font_15px{
       color: #182e65 !important;
    font-size: 15px;
}
.my_work_link{
     color: #182e65 !important;
     text-decoration: underline !important;
}
.search_box{
position: relative;
    margin-right: 0;
}
.search_box .search_i{
 padding: 5px;
    border: none;
    outline: none;
    background: #182e65;
    position: absolute;
    right: 0;
    top: 0;
    height: auto;
    border-top-right-radius: 0.475rem;
    border-bottom-right-radius: 0.475rem;  
}
.search_box input{
   padding: 6px;
    background: #fff !important;
    height: 100%;
}
.filter_section{
justify-content: center;
    flex-wrap: wrap;
}
.filter_section .fv-row{
width: 230px;
  margin: 5px 5px;
}
.filter_section .fv-row .form-control{
padding: 5px;
}
/* width */
.table-responsive::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
.table-responsive::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
.table-responsive::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
.table-responsive::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
.card-body-n{
    background: #F5F8FA;
    border-radius: 10px;
}
.card-body-n .table.table-row-dashed tr {
    border-bottom-color: #fff !important;
}
.table-responsive-common div.dataTables_filter label{
    color: #000;
    font-size: 14px;
    font-weight: normal;
    white-space: nowrap;
    text-align: left;
    display: flex;
    align-items: center;
}
.table-responsive-common div.dataTables_filter label input{
    display: block;
    /* width: 100%; */
    padding: 10px 1rem;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.5;
    color: #5E6278;
    background-color: #ffffff;
    background-clip: padding-box;
    border: none;
    appearance: none;
    border-radius: 0.475rem;
    box-shadow: inset 0 1px 2px rgb(0 0 0 / 8%);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    outline: none;

}
.button_box{
    display: flex;
    align-items: center;
}
.button_box a{
    margin-right: 10px;
}
.card_box .card-header .card-title{
margin: 0 0 20px 10px;
font-size: 24px;
text-transform: uppercase;
position: relative;
color: #182e65 !important;
}
.card_box .card-header .card-title::after{
    position: absolute;
    content: '';
    top: -2px;
    left: -10px;
    width: 4px;
    height: 30px;
    border-radius: 50px;
    background-color: #182e65;
}
.card_box .card-header{
min-height: auto;
}
.aside-fixed .aside{
   
    /* overflow: inherit !important; */
}
#kt_aside_toggle{
    /* position: absolute; */
    /* right: -20px; */
    width: 40px !important;
    height: 40px;
    background: #182e65;
    z-index: 1111;
    box-shadow: 0 0 5px rgb(0 0 0) !important;
}
.import_export_btn.active{
    background: #182e65;
    color: #fff;   
}
.import_export_btn{
    background: #ffc001;
    color: #fff;  
}
.left_search{
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dotted #182e65;
    height: 200px;
    border-radius: 5px;
    margin-left: 50px;
}
.left_search .chart{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 160px;
    flex-direction: column;
    position: relative;
}
.left_search canvas {
   
    width: 100%;
    width: 100%;
  }
  .left_search h2{
    font-size: 18px;
  }
  .left_search p{
  font-size: 14px;
  }
  .chart_p_c{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
  }
  .same_table_design thead{
    background: #182e65;
  }
  .same_table_design thead.text-gray-400 {
    color: #fff!important;
}
.same_table_design th:first-child{
padding-left: 10px !important;
}
.same_table_design .table td:first-child{
    padding-left: 10px !important;
}
.page-link:hover {
    z-index: 2;
    color: #fff !important;
    text-decoration: none;
    background-color: #182e65 !important;
    border-color: transparent;
}
.page-item.active .page-link {
    z-index: 3;
    color: #FFFFFF;
    background-color: #182e65 !important;
    border-color: transparent;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
    background: transparent !important;
    border: none !important;

}
.dataTables_wrapper .dataTables_paginate .paginate_button{
    border: none !important;
}
/* .page-item:hover:not(.offset) .page-link {
    color: #fff !important;
} */
.tag_example{
    display: flex;
    align-items: center;
    display: none;
}
.tag_example h3{
    font-size: 15px;
    margin-right: 10px;
    margin: 0 10px 0 0;
    font-weight: 500;

}
.tag_example.active{
    display: flex;
    padding: 20px 0 0;
}
ul.example_tags{
    /* padding: 20px 0; */
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
}
.exple_text{
    margin-right: 20px;
    position: relative;
    /* text-decoration: underline; */
}
.exple_text::after{
    content: ',';
    position: absolute;
    top: 0;
    right: -10px;
    width: 1px;
    height: 15px;
}
/* .multiselect_class .select2-results__option:before{
    content: "";
  display: inline-block;
  position: relative;
  height: 20px;
  width: 20px;
  border: 2px solid #e9e9e9;
  border-radius: 4px;
  background-color: #fff;
  margin-right: 20px;
  vertical-align: middle;
} */

@media (min-width: 576px){
.modal-dialog-centered700px{
    max-width: 700px !important;
    margin: 1.75rem auto;
}

}

@media(max-width: 600px){
    .modal-body-change .close_btn{
    right: 30px;
}
}